name: Build and Release CS2 Go Fish Executable

on:
  push:
    tags:
      - 'v*.*.*'  # Triggers on tags like v1.0.0

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller
      - name: Install UPX
        run: |
          choco install upx
        shell: powershell
      - name: Build executable
        run: |
          pyinstaller CS2GoFish.spec
      - name: Create zip file
        run: |
          python -m zipfile -c cs2gofish.zip dist/CS2GoFish.exe .env fishbase.json player_stats.json global_stats.json exec.txt console.log fish.log
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: CS2GoFish-windows
          path: cs2gofish.zip
          if-no-files-found: error
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: cs2gofish.zip
          draft: false
          prerelease: false
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
